<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./main.css') }}">
    <script src="https://kit.fontawesome.com/500ce860b4.js" crossorigin="anonymous"></script>
    <title>Nymo</title>
</head>
<body>
    <div id="nav">
    <ul>
        <li class="nav-link">
            <a href="{{url_for('core.index')}}"><img src="/static/images/unknown.png" alt="logo"></a>
        </li>
        <li class="nav-link">
            <a href="{{url_for('core.index')}}"><i class="fa-solid fa-house"></i></a>
        </li>
        <li class="nav-link">
            <a href="{{url_for('core.info')}}"><i class="fa-solid fa-circle-info"></i></a>
        </li>
        
        {% if current_user.is_authenticated %}
        <li class="nav-link">
            <a href="{{url_for('users.logout')}}"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
        </li>
        <li class="nav-link">
            <a href="{{url_for('users.account')}}"><i class="fa-solid fa-user"></i></a>
        </li>
        {% else %}
        <li class="nav-link">
            <a href="{{url_for('users.login')}}"><i class="fa-solid fa-arrow-right-from-bracket"></a>
        </li>
        <li class="nav-link navtall">
            <a href="{{url_for('users.register')}}"><i class="fa-solid fa-user-plus"></i></a>
        </li>
        {% endif %}
    </ul>
</div>


    <div class="container">
        {% block content %}

        {% endblock %}
    </div>
</body>
</html>