{% extends "base.html" %}
{% block content %}
<div class="nymos-list-container">
  <h1>{{ post.title }}</h1>
  <h2>Written by: {{nymo.author.username}}</h2>
  <h3>Published: {{ nymo.date.strftime('%B %d, %Y') }}</h3>
  <p>{{nymo.text}}</p>
  {% if nymo.author == current_user %}
    <div>
      <a class="btn btn-secondary" href="{{ url_for('nymos.update', nymo_id=nymo.id) }}">Update</a>
      <br>
      <form action="{{ url_for('nymos.delete_nymo', nymo_id=nymo.id) }}" method="POST">
        <input class="btn btn-danger" type="submit" value="Delete">
      </form>
    </div>
  {% endif %}
</div>
{% endblock content %}